apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ keystone_admin_port }}
  selector:
    name: keystone-admin
metadata:
   name: keystone-admin

---
apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ keystone_public_port }}
  selector:
    name: keystone-public
metadata:
   name: keystone-public
